$white: #fff;
$brand-primary: #eb6a5a;
$brand-primary: #2196f3;
$brand-primary: #03A1E5;
$brand-danger: #ff6464;
// $brand-danger: tomato;
// $state-danger-text: $brand-danger;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-base: 'Source Sans Pro', sans-serif;

$navbar-default-bg: $white;
$body-bg: #F4F9FD;
$footer-bg: #09415E;

$state-danger-text: #333;
$white: #fff;
$border: #d5d5d5;
